.bdy {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f3f4f6;
  width: 100vw;
  height: 100vh;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 24px 16px;
  width: 377px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
}

.flex {
  display: flex;
}

.todo-container h1 {
  font-size: 20px;
}

.task {
  margin: 20px 0;
}

.task input {
  width: 280px;
  height: 38px;
  margin-right: 6px;
  padding: 8px 16px;
  border: 1px solid var(--border-border-border, #e4e4e7);
  border-radius: 6px;
}

.task button {
  padding: 8px 16px;
  background-color: #3c82f6;
  color: #fff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.sorts {
  display: flex;
  justify-content: start;
  width: 100%;
}

.sorts button {
  padding: 4px 12px;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  margin-right: 10px;
  height: 32px;
  cursor: pointer;
}

.parag {
  margin: 32px 0 40px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.parag p {
  color: #6b7280;
  font-size: 14px;
}

.parag button {
  border: none;
  background: none;
  color: #ef4444;
  cursor: pointer;
}

.todo-container h4 {
  font-size: 12px;
  color: #6b7280;
}

.tasks {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 62px;
  border-radius: var(--radius-rounded-md, 6px);
  background: #f9fafb;
  padding: 16px;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}

.tasks:hover {
  background-color: #f3f4f6;
}

.tasks input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.tasksleft input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}

/* .tasks p { */
/* width: 100%; */
/* height: 25px; */
/* margin: 10px 0; */
/* padding: 10px 0; */
/* } */

.tasks button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #fef2f2;
  color: #ef4444;
  cursor: pointer;
}

.activeStyle {
  background-color: #3c82f6 !important;
  color: #fff;
}
